/* The first property below overrides the default margin of webpages because by default a margin is added to 
the top and the buttom*/

h1,
h2,
h3 {
  margin-top: 0;
}

//The styling below is for the anchor links
a,
a:visited,
a:active {
  text-decoration: none;
}
